.calculadora {
    background: rgb(252, 168, 14);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10x rgb(22, 216, 38);
}
#btnCalc {
    background: rgb(201, 12, 176);
    color: white;
    padding: 5px;
}
#btnCalc:hover {
    background: rgb(164, 49, 241);
    color: black;
    cursor: pointer;
}
.spResultado{
    background: black;
    color: rgb(90, 122, 228);
    padding: 4px;
    margin: 2px;
}
